{% block title %}Find your win condition{% endblock title %}

{% block content %}
<h1>Find your win condition</h1>
<!-- checks if the form was submitted and displays a nice message, otherwise it sends you back to the form again. -->
{% if submitted %}
    <p class="success">
        <ul>
                <li>{{cd.summoner_name}}</li>
                <li>{{cd.region_name}}</li>
            {% for name in champ %}
                <li>{{name}}</li>
            {% endfor %}
                
                
        </ul>
    </p>

{% else %}
    <form action="" method="post" novalidate>
        {{form}}
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="Submit"></td>
        </tr>
    {% csrf_token %}
    </form>
{% endif %}
{% endblock content %}